body {
    background-color: black;
    font-family: arial;
    color: white
}
h1 {
    color: grey;
    font-family: verdana;
    margin-bottom: 20px;
}
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align: center;
    margin: auto
}
table {
    width: 400px;
    margin: auto;
}





